* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url(../../images/profil_small2.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position: right;
  background-size: cover;
}

//form

/* .form-control {
  max-width: 600px;
} */
.form-adjustment {
  h1 {
    color: $my-aqua;
  }
  form {
    .form-control {
      color: #fff !important;
      margin-top: 0.5rem;
    }
  }
}

// thank u

.thank-row {
  display: flex;
  justify-content: center;
}
.container .row .thank {
  max-width: 90%;
  margin-top: 6rem;
}

/* .student {
  text-decoration: underline $my-yellow;
} */

//scroll

section {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  scroll-snap-align: start;
}

.container {
  min-width: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.two,
.three,
.four {
  background-color: $primary;
}
