body {
  height: 100vh;
  background-image: url(../../images/profil_small2.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position: right;
  background-size: cover;
}

//form

.form-control {
  max-width: 600px;
}
.form-adjustment {
  justify-content: center;
  margin-top: 15rem;
  h1 {
    color: $my-aqua;
  }
  form {
    .form-control {
      color: #fff !important;
      margin-top: 0.5rem;
    }
  }
}

// thank u

.thank-row {
  display: flex;
  justify-content: center;
}
.container .row .thank {
  max-width: 90%;
  margin-top: 6rem;
}

.student {
  text-decoration: underline $my-yellow;
}
