body {
  height: 100vh;
  background-image: url(../../images/profil_small2.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position: right;
  background-size: cover;
}

form {
  margin-top: 20rem;
}
