#section-two .container {
  display: flex;
  justify-content: center;
  align-items: center;
  .row {
    justify-content: center;
  }
}
#section-two .container .row .col-right p {
  color: $my-grey;
}
#section-two .container .row .col-right h3 {
  color: $my-yellow;
}
#section-two .container .row .col-right h2 {
  color: $my-aqua;
}

// Skills and Apps

.file-type {
  display: flex;
  justify-content: space-evenly;
  width: 100%;

  i {
    font-size: 2.5rem;
    color: $my-yellow;
  }
}

.apps {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 3rem;
  .logo {
    width: 48px;
    height: 48px;
    margin-left: 2rem;
  }

  .pm-logo {
    height: 52px;
    width: auto;
    margin-left: 1.2rem;
  }
}

.mestring {
  font-weight: bold;
}
