//Large
@media screen and (max-width: 992px) {
  #section-five {
    .row {
      width: 90%;
    }
  }
  body {
    background-image: url(../../images/profil_small_opacity.png);
  }
  #hello {
    font-size: 46px;
    color: $my-aqua;
  }
}
//Medium
@media screen and (max-width: 768px) {
  #hello {
    font-size: 36px;
    color: $my-aqua;
  }
  #section-two .container .row .col-left {
    border-radius: 16px 16px 0 0;
  }
  #section-two .container .row .col-right {
    border-radius: 0 0 16px 16px;
  }
}
//Small
@media screen and (max-width: 576px) {
  #hello {
    font-size: 36px;
    color: $my-aqua;
  }
  .signature {
    width: 90%;
  }
  #section-four {
    .row {
      width: 95%;
    }
  }
}
