nav {
  background-color: $primary;
}
.navbar .navbar-nav .nav-item .active,
.navbar .navbar-nav .nav-link {
  color: $link-color;
  font-family: "play", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: $my-yellow;
}

.navbar-brand {
  font-family: "play", sans-serif;
  font-size: 2rem;
  letter-spacing: 4px;
  .h {
    color: $my-yellow;
  }

  .arald {
    color: #fff;
  }
}

.navbar-brand:hover {
  .h {
    color: #fff;
  }

  .arald {
    color: $my-yellow;
  }
}

.navbar-nav .nav-item .nav-link:hover {
  color: #fff;
}
